* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
  background-color: #212121;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 50px 30px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
}

section h1 {
  align-self: center;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
}

section p {
  margin: 20px 0;
}

section img {
  width: 100%;
  margin: 20px 0;
  align-self: center;
}

.img-100 {
  width: 100%;
}

.img-80 {
  width: 80%;
}

.img-50 {
  width: 50%;
}

section a {
  color: #effc00;
}

section a:hover {
  color: #a5ad00;
}

.back-link {
  text-decoration: none;
}

footer {
  align-self: end;
}

@media screen and (max-width: 768px) {
  .img-80 {
    width: 100%;
  }

  .img-50 {
    width: 100%;
  }
}
